.services {
  display: flex;
  gap: 4rem;
  margin-top: 15rem;

  @media (max-width: 1000px) {
    flex-direction: column;
    margin-top: 2rem;
  }

  &__item {
    text-align: center;

    @media (max-width: 1000px) {
      display: flex;
    }

    @media (max-width: 750px) {
      flex-direction: column;
      justify-content: center;
    }

    &-text {
      @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        margin-left: 10rem;
      }

      @media (max-width: 750px) {
        text-align: center;
        margin-left: 0;
        align-items: center;
      }
    }

    &-img-container {
      height: 20rem;
      position: relative;

      &::after {
        content: "";
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        background-color: #9797972c;
        position: absolute;
        top: 0;
        left: 25%;
        z-index: -1;
      }
    }

    & h2 {
      font-size: 2rem;
      font-family: "Jost", sans-serif;
      font-weight: 500;
      color: #333136;
      text-transform: uppercase;
      letter-spacing: 0.4rem;
      margin: 2.5rem;

      @media (max-width: 1000px) {
        margin: 0;
      }
      @media (max-width: 750px) {
        margin-top: 5.5rem;
      }
    }
    & p {
      font-size: 1.6rem;
      font-family: "Jost", sans-serif;
      font-weight: 400;
      color: #333136;
      width: 85%;
      margin: 0 auto;

      @media (max-width: 1000px) {
        margin: 0;
        margin-top: 1.4rem;
      }
      @media (max-width: 750px) {
        width: 60%;
      }
    }
  }
}
